body {
    background-image: url(../imgs/Background.jpg);
    font-family: 'Mate SC', serif;
   }

   #Maintitle {
    text-align: center;
    color: aliceblue;
   }
  
  nav {
    position: absolute !important; 
    top: 0;
    left: 0;
  }

  header {
    margin-top: 70px;
  }

  #div-main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #new-list {
    text-align: center;
  }

  h2 {
    color: aliceblue;
  }

  .content {
    color: aliceblue;
  }

  .todo-lists {
    margin-top: 20px;
  }
  
  #lists {
  width: 50%;
  float:left;
  }

  #single-todos-list {
    width: 50%;
    float:left;
  }

  #new-list-input {
    width:35%;
    color: aliceblue;
    background: rgba(12, 3, 0, 0.8);
    border-radius: 10px;
    font-size: 1.30rem;
    padding: 5px;
    border-style: solid;
    border-color:rgba(12, 3, 0, 1); ;
  }

  ::placeholder {
    opacity: .4;
    
  }

 
  

  .single-todo-list {
    color: aliceblue;
    display: block;
    margin:10px;
    background: rgba(12, 3, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
  }

  #new-task-submit {
    width:15%;
    color: aliceblue;
    background: rgba(12, 3, 0, 0.8);
    border-radius: 15px;
    font-size: 1.30rem;
    padding: 2px;

  }

  #list-name-h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  #lists-name-h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-btn-form {
    margin-top: 20px;
    float:right;
  }
  
  .single-todo {
    width: 50%;
    float:left;
    font-size: 16px;
    text-align: left;
  }

  .single-todo-btns {
    display: inline;
    float: right;
  
  }

  .content {
    width: 50%;
    float:left;

  }
  
  .actions {
    width: 50%;
    float:left;
  }

  .single-todo-name {
    display: inline;
  }



 

 
  



